.notification {
  border-radius: 1rem;
  border-style: solid;
  border-color: green;
  font-size: 1rem;
  background-color: lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
}
.error {
  border-radius: 1rem;
  border-style: solid;
  border-color: rgb(177, 0, 0);
  font-size: 1rem;
  background-color: lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
}
